.root {
	-fx-background-color: #222222;
}

.label {
	-fx-font-family: "Lucida Console";
	-fx-text-fill: "white";
	-fx-font-size: 20;
	-fx-alignment: center;
}

.choice-box .label {
	-fx-text-fill: "black";
	-fx-font-size: 10;
}

#typeLabel, #chooseLabel, #consoleLabel, #amountLabel {
	-fx-font-size: 12;
	-fx-alignment: center-left;
}

#shuffleLabel, #shuffleLabel1, #lineLabel {
	-fx-font-size: 12;
	-fx-alignment: center;
}

.menu .label {
	-fx-font-size: 12;
}

.menu:hover {
	-fx-background-color: #333333;
}

.menu-bar {
	-fx-background-color: #111111;
}

.checkboxLabels {
	-fx-font-size: 12;
	-fx-alignment: center-left;
}